@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /* color */
    --color-primary: #306770;
    --color-secondary: #cfb234;
    --color-title: #333333;
    --color-text1: #444;
    --color-text:#332f2f;
    --font-family-roboto: "Roboto", sans-serif;
    --font-family-poppins: "poppins", sans-serif;
    --font-family-sourcesans: "Source Sans Pro", sans-serif;
    --carousel-height:65vh;
    --color-background-yellowish:rgb(238, 232, 170);
    --color-background-grey:#F5F5F5;
    --color-lightgray:lightgray;
    --header-top-padding:6rem;

    /* --bs-dropdown-link-hover-color:yellow!important; */
    
}
html{
    font-size: 62.5%;
}
* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
/* ****************Color Clases******************** */

.bg-grey{   
    background-color: var(--color-background-grey);
}

/* ****************End Color Clases******************** */
.section-col-top-padding{
    padding-top: var(--header-top-padding);
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
}
p{
    text-align: justify;
    font-size: 1.6rem;
    
}
body {
    /* font-family: var(--font-family-poppins); */
    color: #000;

    font-weight: 400;

    font-family: var(--font-family-roboto);

    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--color-text);

    /* height: 100%;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    background-color: #fff; */
}


/* **********************Button Style**************************** */

.buttonStyleSecondary {
    padding: 0.8rem 1rem;
    margin-left: 2rem; 
    background-color: var(--color-secondary);
    color: #fff;
    border: 0.2rem solid var(--color-secondary);
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
}
.buttonStyleSecondary:hover {
    background-color: #fff;
    border: .2rem solid var(--color-secondary);
    color: var(--color-secondary);
}
.buttonStylePrimary {
    padding: 1rem;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}

.buttonStylePrimary:hover {
    background-color: #fff;
    border: .2rem solid var(--color-primary);
    color: var(--color-primary);
}
/* **********************End Button Style**************************** */
/* ********************Line*************** */
.line {
    width: 6rem;
    height: .5rem;
    background-color: var(--color-primary);
    margin-bottom: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius:17rem;
   }
 
.double-line .line {
   border-radius: 1rem;
     
}
/* ********************End Line*************** */
.mainSection {
     padding-bottom:6rem ;
}
/* **************Section Header ********************** */

.mainSection header{
    padding-top: var(--header-top-padding);
    padding-bottom: .5rem;
}
header .subtitle {
    border: .2rem solid var(--color-secondary);
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    display: inline-block;
    color: var(--color-secondary);
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 700;
    border-radius: .5rem;
}


/* Section Heading */

header .sectionTitle {
    
    line-height: 4rem;
    font-weight: 700;
    color: var(--color-title);
    font-size: 2.6rem;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    margin-top: 0rem;
}

/* Text */

header .content {
    /* // 400 14 24  paragraph,subtitle */
       text-align: justify;
    padding-top: 2rem;
}
/* **************End Section Header ********************** */

/* **********************List Box********************* */
.listbox{
    font-weight: 500;
    margin-top: 0.5rem; 
    margin-bottom: 2rem;  
    color: #000;
    padding-left: 0.3rem 
   
}
.listbox .list-item{
  
    padding-left: 1rem;
}
.listbox .list-item:before{
    content: "\f14a"; /* FontAwesome Unicode */
    font-family: FontAwesome;      
    margin-right: 1.1rem;
    color: var(--color-secondary);
    font-size: 1.1rem;   
}
/* **********************End List Box********************* */

/* ************************Section Image ***************** */
.mainSection .image-box {
width: 100%;
    height: 100%;
    max-width: 100%;
}
.mainSection .image-box img {
    width: 100%;
     max-width: 100%;
    border-radius: .5rem;
}

/* ************************End Section Image ***************** */
/* ********************OEMS********************* */
#oem{
    padding: 2rem 0;
}

.owl-carousel .item{
    height:10rem;
    
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    border: .1rem solid #dee2e6;
}
.owl-carousel .item img{
    max-height: 100%;
   
}

/* ********************End OEMS********************* */


/**--------------------------------------------
 *               Media Query
 *---------------------------------------------**/
 /* * XX-Large devices (larger desktops, 1400px and up) */ */
 @media (max-width: 1400px) { }

 /* X-Large devices (large desktops, 1200px and up) */
 @media (max-width: 1200px) { 
    html{
        font-size: 58%;
    }
    .mainSection {
        padding: 0px 3rem 3rem 3rem;
    }
    header {
    & .subtitle {
       font-size: 2rem;
    }
    & .sectionTitle {
        font-size: 2.3rem;
        line-height: 3.5rem;
    }
}

/* /*************Footer****************** */
.footer{
    & ul{
        padding: 0 0 0 1rem;
       }
}

/*--------------- END OF Footer --------------*/


  }
 /* Large devices (desktops, 992px and up) */
 @media (max-width: 992px) { 
    html{
        /* font-size: 56%; */
    }
    .nav-link {
        /* font-size: 1.2rem; */
    }

    .buttonStyleSecondary {
        padding: 0.7rem 0.5rem;
        margin : 0px; 
       
    }
  }
  
 
 /* Medium devices (tablets, 768px and up) */
 @media ((min-width: 768px) and (max-width:815px)) { 
     /* .nav-link {
        
         margin-left: 23px;
         padding-right: 0px!important;
         padding-left: 0px!important;
     } */
 }
 @media ((max-width: 767px)) { 
   
    .buttonStyleSecondary {
       
        margin : 1rem 0; 
       
    }
     /* header #navHeader .navbar {
         padding: 5px 0px;
     }
 
     header #navHeader .navbar .navbar-container{
         padding: 0px;
     } */
     /* header #navHeader .navbar .navbar-container .navbar-toggler{
         margin-right: 15px;
     }
     header #navHeader .navbar .nav-item {
         text-align: center;
     }
     header #navHeader .navbar .nav-item #mega-dropdown-menu {
        
         width: 100%;
        
         margin-top: -2px;
     }
 
     header #navHeader .navbar .nav-item #mega-dropdown-menu figure img {
         width: 100%;
         height: 75px;
     } */
     /* header #navHeader .navbar .nav-item .buttonStyleSecondary{
         margin: 5px 20px;
 
     } */
       
 
 }
 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) { 
     header #navHeader .navbar .nav-item #mega-dropdown-menu figure{
        /* display: flex; */
        /* flex-direction: column; */
     }
     header #navHeader .navbar .nav-item #mega-dropdown-menu figure img{
         /* flex-basis: 30%;
         width: 20%;
         height: 30px; */
         
      }
      header #navHeader .navbar .nav-item #mega-dropdown-menu figure img.img-thumbnail {
         /* padding: 0;
         border: 0; */
         /* background-color: var(--bs-body-bg); */
        
         /* border-radius: var(--bs-border-radius);
         max-width: 100%;
         height: auto; */
     }
     /* header #navHeader .navbar .nav-item #mega-dropdown-menu .mega-menu-item-container{
         padding: 7px;
     } */
 
     /* **************Home Carousel***************** */
     /* #homeCarousel .carousel-inner .carousel-item .carousel-caption{
        
         text-align: center;
         padding-top: 60px;
         padding-left:30px;
         
       }
 
       #homeCarousel .carousel-inner .carousel-item .carousel-caption .carousel-heading {
         font-size: 48px;
         line-height: 48px;
         font-weight: 700;
         margin-bottom: 40px;
         text-transform: uppercase;
         letter-spacing: 4px;
     } */
     /* **************End Home Carousel***************** */
     /* **************Home About Us************** */
     /* .mainSection {
         margin: 0px 9px 30px 9px;
     }
     .section-column.image-section .image {
         width: 90%;
        
       
        
     }
     .section-column .listbox .list ul {
        padding-left: 0px;
        --icon-space: 0em;
     } */
     /* **************End Home About Us************** */
    
 }