/* *******************Nav Bar*****************************/

header #navHeader {
    background-color: var(--color-primary);
    height: 6rem;
    /* max-height:10.0rem; */
    box-shadow: -0.2rem 0.4rem 1rem 0rem #000;
    & .navbar-nav {
        width: 98%;
        align-items: center;
        justify-content: right;
        & .nav-item {
            padding: 0px 1rem;
            margin-left: 0rem;
            background-color: var(--color-primary);
            & .nav-link {
                /* background-color: var(--color-primary); */
                /* margin-left: 2.0rem; */
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                font-weight: 500;
                font-size: 1.5rem;
                padding-left: 0px;
                padding-right: 0px;
                &.active {
                    color: var(--color-secondary);
                }
            }
        }
    }
    & #logo #icon {
        height: 4rem;
    }
    & #logo a {
        justify-content: center;
        align-items: center;
    }
    & #logo #logotext {
        height: 6rem;
        margin-left: -2rem;
    }
}

.nav {
    --bs-nav-link-color: var(--color-primary);
    --bs-nav-link-hover-color: var(--color-secondary);
}

header #navHeader .nav-item .buttonStyleSecondary:hover {
    /* background-image: -webkit-gradient(linear,left top,right top,from(#fc4a1a),to(#f7b733)); */
    /* background-image: linear-gradient(90deg,#fc4a1a,#f7b733) */
}
/* ***********************Mega Menu*********************** */
header #navHeader .nav-item.dropdown:has(div.show):after {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    bottom: -2.5rem;
    position: absolute;
    left: 30%;
    transform: rotate(45deg);
}
header #navHeader .nav-item .mega-dropdown-menu {
    top: 4.8rem;
    width: 80vw;
    left: -38vw;
    padding: 2rem 1rem 1.5rem 1rem;
    border: none;
    box-shadow: -0.2rem 0.4rem 1rem 0rem #000;
    & .dropdown-item {
        padding: 0rem;
        & figure {
            & div {
                width: 100%;
                 max-height: 9rem;
                height: 9rem;
                overflow: hidden;
                & img{
                    width: 100%;
                    height: 100%;
                    transition: all 1s ease;
                    object-fit: cover;
                }
            }
            & figcaption {
                text-align: center;
                font-weight: 600;
                font-family: var(--font-family-sourcesans);
                font-size: 1.3rem;
            } 
        }
        &:hover {
            color: var(--color-secondary);
            background-color: var(--bs-dropdown-link-hover-bg);
            box-shadow: 0rem 0rem 1rem 0.3rem var(--color-lightgray);
        } 
        &:hover figure img {        
        transform: scale(1.5);
    } 
    } 
    
}

header #navHeader .nav-item .mega-dropdown-menu#supply-mega-dropdown-menu {
    /* top: 4.8rem; */
    width: 40vw;
    left: -16vw;
    
}
/* header #navHeader .nav-item #services-mega-dropdown-menu {
    
    width: 90vw;
    left: -46vw;
} */



/* header #navHeader .nav-item .mega-dropdown-menu .dropdown-item*/

/* header
    #navHeader
    .nav-item
    .mega-dropdown-menu
    .dropdown-item:hover
    figure
    img {
    
    transform: scale(1.5);
} */
/* *********************************End Mega Menu****************** */
/* *****************************End Nav Bar********************* */

@media (max-width: 1200px) {
    
    /* #logoheader */
    header #navHeader #logo #icon {
        height: 4.5rem;
    }

    header #navHeader #logo #logotext {
        height: 6rem;
    }
    header #navHeader .navbar-nav {
       
        & .nav-item {
            
            & .nav-link {
               
                padding-left: 5px; 
                padding-right: 5px;
                /* padding:0!important; */
                /* line-height: 5.3rem; */
            }
        }
    }
/* *********************mega menu********************* */
header #navHeader .nav-item .mega-dropdown-menu#services-mega-dropdown-menu {
    /* top: 4.8rem; */
    width: 80vw;
    left: -36vw;
    
}

}
@media (max-width: 1130px) {
header #navHeader .nav-item .mega-dropdown-menu#supply-mega-dropdown-menu {
    /* top: 4.8rem; */
    width: 50vw;
    left: -16vw;
    
}}
@media (max-width: 1030px) {
    header #navHeader .nav-item .mega-dropdown-menu#services-mega-dropdown-menu {
        width: 80vw;
        left: -30vw;
        
    }
}
@media (max-width: 1090px) {
    /* header #navHeader .nav-item #services-mega-dropdown-menu {
        width: 80vw;
        left: -35vw;
    } */
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    header #navHeader .navbar-nav {
        width: 100%;

        & .nav-item {
            padding: 0px 0.5rem;
            & .nav-link {
                font-size: 1.4rem;
                /* padding-left: 5px; 
                padding-right: 5px; */
                /* padding:0!important; */
                /* line-height: 5.3rem; */
            }
        }
    }

    /* #logoheader */
    header #navHeader #logo #icon {
        height: 4rem;
    }

    header #navHeader #logo #logotext {
        height: 5rem;
    }
    

   /* *********************mega menu********************* */
header #navHeader .nav-item .mega-dropdown-menu#services-mega-dropdown-menu {
    /* top: 4.8rem; */
    width: 80vw;
    left: -36vw;
    
}
header #navHeader .nav-item .mega-dropdown-menu#supply-mega-dropdown-menu {
    /* top: 4.8rem; */
    width: 60vw;
    left: -30vw;
    
}
}
/* 

    .navbar-nav{
        width: 100%;    
    }   
    .nav-link {
        font-size: 1.3rem;
        line-height: 2rem;
   
   
    }
  } */
  @media (max-width: 767px) { 
    .navbar-nav{
        display: block;
    }
    /* *********************mega menu********************* */
header #navHeader .nav-item .mega-dropdown-menu#services-mega-dropdown-menu {
    position: absolute;
    left:0;
    width:96vw;
    right: 0;
    top:3rem;
    /* left: -36vw; */
    
}
header #navHeader .nav-item .mega-dropdown-menu#supply-mega-dropdown-menu {
    /* top: 4.8rem; */
    width: 99vw;
    /* left: -16vw; */
    
}
header #navHeader .navbar-nav {
    /* width: 100%; */

    & .nav-item {
        padding: 0px 0rem;
        & .nav-link {
            /* font-size: 1.4rem; */
            /* padding-left: 5px; 
            padding-right: 5px; */
            /* padding:0!important; */
            /* line-height: 5.3rem; */
            word-wrap: break-word
        }
    }
}
figcaption {
    white-space: wrap;
    line-height: 2rem;
}
header #navHeader .nav-item.dropdown:has(div.show):after {
    content: "";
   display: none;
}
}