:root{
    /* --holding-circle-radius:50.0rem; */
    /* --round-radius:  calc((var(--holding-circle-radius))- 5.0rem); */
    --round-radius:  calc(100% - 5.0rem);
}
.iq-features{
    width: calc(80%);
    aspect-ratio: 1;
}
.holderCircle {
   
  width: calc(100%);
  aspect-ratio: 1;
   border-radius: 100%;
  margin: .0rem;
  position: relative;
 /* border:.1rem solid red;; */
}
.round{
    /* --round-radius:  calc(100% - 5.0rem); */
    /* --round-radius:  calc(var(--holding-circle-radius)- 5.0rem); */
    position: absolute;
    left: 50%;
    top: 50%;
    width:var(--round-radius);
    height:var(--round-radius);
    border: .2rem dotted #a733bb;
    border-radius: 100%;
    -webkit-animation: rotation 100s infinite linear;
    /* background-color: yellow; */
    transform: translate(-50%, -50%);
}
.contentCircle {
    width:  calc((var(--round-radius))/2);
    border-radius: 100%;
    color: #222222;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* width: calc((var(--holding-circle-radius))/2);
     color: #222222;
     transform: translate(-50%, -50%);
    position: absolute;
    top: 35%;
    left: 50%; */
  }

  .contentCircle .CirItem {
  border-radius: 100%;
  color: #222222;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  margin: auto;
  line-height:  calc((var(--holding-circle-radius))/2);
}
.contentCircle .CirItem i {
  font-size: 18.0rem;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -9.0rem;
  color: #000000;
  opacity: 0.1;
}
/* .contentCircle .CirItem {
  border-radius: 100%;
  color: #222222;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  margin: auto;
  line-height: 25.0rem;
} */
/* .round {
    position: absolute;
    left: 4.0rem;
    top: 4.5rem;
    width: 45.0rem;
    height: 45.0rem;
    border: .2rem dotted #a733bb;
    border-radius: 100%;
    -webkit-animation: rotation 100s infinite linear;
    background-color: yellow;
  } */

.dotCircle {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  z-index: 20;
 
}
.dotCircle .itemDot {
  display: block;
  width: 8.0rem;
  height: 8.0rem;
  position: absolute;
  background: #ffffff;
  color: #7d4ac7;
  border-radius: 2.0rem;
  text-align: center;
  line-height: 8.0rem;
  font-size: 3.0rem;
  z-index: 3;
  cursor: pointer;
  border: .2rem solid #e6e6e6;
}

.dotCircle .itemDot .forActive {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.dotCircle .itemDot .forActive::after {
  content: "";
  width: .5rem;
  height: .5rem;
  border: .3rem solid #7d4ac7;
  bottom: -3.1rem;
  left: -1.4rem;
  filter: blur(.1rem);
  position: absolute;
  border-radius: 100%;
}
.dotCircle .itemDot .forActive::before {
  content: "";
  width: .6rem;
  height: .6rem;
  filter: blur(.5rem);
  top: -1.5rem;
  position: absolute;
  transform: rotate(-45deg);
  border: .6rem solid #a733bb;
  right: -3.9rem;
}
.dotCircle .itemDot.active .forActive {
  display: block;
}

.dotCircle .itemDot:hover,
.dotCircle .itemDot.active {
  color: #ffffff;
  transition: 0.5s; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d4ac7+0,a733bb+100 */
  background: #7d4ac7; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #7d4ac7 0%,
    #a733bb 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #7d4ac7 0%,
    #a733bb 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #7d4ac7 0%,
    #a733bb 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d4ac7', endColorstr='#a733bb', GradientType=1); /* IE6-9 */
  border: .2rem solid #ffffff;
  -webkit-box-shadow: 0 3.0rem 3.0rem 0 rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 3.0rem 3.0rem 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 3.0rem 3.0rem 0 rgba(0, 0, 0, 0.13);
}
.dotCircle .itemDot {
  font-size: 4.0rem;
  transform: rotate(36deg); 
  transition: all 1s ease 0s;
}


.CirItem.active {
  z-index: 1;
  opacity: 1;
  transform: scale(1);
  transition: 0.5s;
}


/* @media only screen and (min-width: 30.0rem) and (max-width: 59.9rem) {
  .holderCircle {
    width: 30.0rem;
    height: 30.0rem;
    margin: 11.0rem auto;
  }
  .holderCircle::after {
    width: 100%;
    height: 100%;
  }
  .dotCircle {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}
@media only screen and (min-width: 60.0rem) and (max-width: 76.7rem) {
}
@media only screen and (min-width: 76.8rem) and (max-width: 99.1rem) {
} */
/* @media only screen and (min-width: 99.2rem) and (max-width: 119.9rem) {

.dotCircle .itemDot{
  font-size: 3rem;
  width:6rem;
  height: 6rem;
}
} */
/* @media only screen and (min-width: 120.0rem) and (max-width: 149.9rem) {
} */
.title-box .title {
  font-weight: 600;
  letter-spacing: .2rem;
  position: relative;
  z-index: -1;

margin-bottom: 1rem;
}
.title-box span {
  text-shadow: 0 1.0rem 1.0rem rgba(0, 0, 0, 0.15);
  font-weight: 800;
  color: #640178;
}
.title-box p {
  font-size: 1.7rem;
  line-height: 1.5em;
  text-align: center;
}

@media (max-width:1110px) {
.contentCircle{
  width: 55%;
  top:9rem;
}
  .dotCircle .itemDot{
    font-size: 3rem;
    width:7rem;
    height: 7rem;
  }
  .title-box p {
    font-size: 1.6rem;
    font-weight: 700;
    /* line-height: 1.5em;
    text-align: center; */
  }
  }
  @media (max-width:920px) {
    .contentCircle{
      width: 50%;
      top:27%;
    }
      .dotCircle .itemDot{
     font-size: 2.5rem; 
        width:6rem;
        height: 6rem;
      }
      .title-box p {
        font-size: 1.4rem;
        font-weight: 700;
       line-height: 1.7em;
      }
      }

      @media (max-width:767px) {
        .iq-features{
          width: calc(45%);
          aspect-ratio: 1;
          margin-bottom: 5rem;
      }
      .title-box p {
        font-size: 1.8rem;
        line-height: 1.3em;
        /* text-align: center; */
      }
      }

      @media (max-width:700px) {
        .iq-features{
          width: calc(50%);
          
          margin-bottom: 3rem;
      }
      .title-box p {
        font-size: 1.5rem;
        /* font-size: 1.8rem;
        line-height: 1.3em; */
        /* text-align: center; */
      }
      }

      @media (max-width:550px) {
        .iq-features{
          width: calc(60%);
          
          /* margin-bottom: 3rem; */
      }
      .title-box p {
        font-size: 1.4rem;
        /* font-size: 1.8rem;
        line-height: 1.3em; */
        /* text-align: center; */
      }
      }
      @media (max-width:450px) {
        .iq-features{
          width: calc(70%);
          
          /* margin-bottom: 3rem; */
      }
      .title-box p {
        font-size: 1.6rem;
        /* font-size: 1.8rem;
        line-height: 1.3em; */
        /* text-align: center; */
      }
      .dotCircle .itemDot{
        font-size: 2.3rem; 
           width:5.8rem;
           height: 5.8rem;
         }
         .contentCircle .CirItem i {
          font-size: 12.0rem;
          margin-left: -6.0rem;
          /* position: absolute;
          top: 0;
          left: 50%;
          margin-left: -9.0rem;
          color: #000000;
          opacity: 0.1; */
        }

      }