/* **********************Background********************** */
@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--color-primary);
    overflow: hidden;
}
.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #1f484f;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 11s ease-in forwards infinite;
}

.background li:nth-child(0) {
    animation-delay: 0s;
    left: 41vw;
    top: 47vh;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 30vw;
    top: 17vh;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 27vw;
    top: 98vh;
    border-color: #2c8f9f;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 42vw;
    top: 72vh;
    border-color: #2c8f9f;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 10vw;
    top: 84vh;
    border-color: #2c8f9f;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 3vw;
    top: 59vh;
}

.background li:nth-child(6) {
    animation-delay: 12s;
    left: 90vw;
    top: 77vh;
}

.background li:nth-child(7) {
    animation-delay: 14s;
    left: 99vw;
    top: 79vh;
}

.background li:nth-child(8) {
    animation-delay: 16s;
    left: 95vw;
    top: 88vh;
}

.background li:nth-child(9) {
    animation-delay: 18s;
    left: 70vw;
    top: 64vh;
    border-color: #2c8f9f;
}

.background li:nth-child(10) {
    animation-delay: 20s;
    left: 82vw;
    top: 24vh;
    border-color: #2c8f9f;
}

.background li:nth-child(11) {
    animation-delay: 22s;
    left: 75vw;
    top: 72vh;
    border-color: #2c8f9f;
}

.background li:nth-child(12) {
    animation-delay: 24s;
    left: 26vw;
    top: 0vh;
    border-color: #2c8f9f;
}

.background li:nth-child(13) {
    animation-delay: 26s;
    left: 56vw;
    top: 25vh;
}

.background li:nth-child(14) {
    animation-delay: 28s;
    left: 13vw;
    top: 86vh;
}

.background li:nth-child(15) {
    animation-delay: 30s;
    left: 17vw;
    top: 94vh;
    border-color: #2c8f9f;
}

.background li:nth-child(16) {
    animation-delay: 32s;
    left: 49vw;
    top: 4vh;
}

.background li:nth-child(17) {
    animation-delay: 34s;
    left: 47vw;
    top: 35vh;
}

.background li:nth-child(18) {
    animation-delay: 36s;
    left: 73vw;
    top: 42vh;
    border-color: #2c8f9f;
}

.background li:nth-child(19) {
    animation-delay: 38s;
    left: 52vw;
    top: 67vh;
}

.background li:nth-child(20) {
    animation-delay: 40s;
    left: 69vw;
    top: 67vh;
}

.background li:nth-child(21) {
    animation-delay: 42s;
    left: 1vw;
    top: 55vh;
    border-color: #2c8f9f;
}

.background li:nth-child(22) {
    animation-delay: 44s;
    left: 79vw;
    top: 54vh;
    border-color: #2c8f9f;
}

.background li:nth-child(23) {
    animation-delay: 46s;
    left: 7vw;
    top: 21vh;
}

.background li:nth-child(24) {
    animation-delay: 48s;
    left: 85vw;
    top: 60vh;
}

.background li:nth-child(25) {
    animation-delay: 50s;
    left: 21vw;
    top: 9vh;
    border-color: #2c8f9f;
}

.background li:nth-child(26) {
    animation-delay: 52s;
    left: 23vw;
    top: 82vh;
    border-color: #2c8f9f;
}

.background li:nth-child(27) {
    animation-delay: 54s;
    left: 62vw;
    top: 14vh;
}

.background li:nth-child(28) {
    animation-delay: 56s;
    left: 52vw;
    top: 33vh;
    border-color: #2c8f9f;
}

.background li:nth-child(29) {
    animation-delay: 58s;
    left: 18vw;
    top: 38vh;
}

.background li:nth-child(30) {
    animation-delay: 60s;
    left: 65vw;
    top: 90vh;
}

.background li:nth-child(31) {
    animation-delay: 62s;
    left: 87vw;
    top: 50vh;
}

.background li:nth-child(32) {
    animation-delay: 64s;
    left: 57vw;
    top: 96vh;
    border-color: #2c8f9f;
}

.background li:nth-child(33) {
    animation-delay: 66s;
    left: 39vw;
    top: 18vh;
    border-color: #2c8f9f;
}

.background li:nth-child(34) {
    animation-delay: 68s;
    left: 83vw;
    top: 27vh;
    border-color: #2c8f9f;
}

.background li:nth-child(35) {
    animation-delay: 70s;
    left: 64vw;
    top: 46vh;
}

.background li:nth-child(36) {
    animation-delay: 72s;
    left: 34vw;
    top: 42vh;
}

.background li:nth-child(37) {
    animation-delay: 74s;
    left: 93vw;
    top: 30vh;
}

.background li:nth-child(38) {
    animation-delay: 76s;
    left: 5vw;
    top: 11vh;
    border-color: #2c8f9f;
}

.background li:nth-child(39) {
    animation-delay: 78s;
    left: 35vw;
    top: 7vh;
    border-color: #2c8f9f;
}

#home-team .team-list{
    z-index:100;
    position: relative;
}
/* *********************************End Background********************** */
