

.mainSection {
    margin: 0px 0px 30px 0px;
}

.section-column.image-section {
    display: flex;
    justify-content: center;
    align-items: start;
    /* overflow: hidden; */
}


.highlighted-card {
    border-radius: 20px;
    box-shadow: 0 10px 11px 0 rgb(200 200 200 / 150%);
    border-left: 3px solid var(--color-secondary);
    padding: 5px 10px;
    border-top: 1px solid var(--color-secondary);
    font-family: var(--font-family-sourcesans);
    color: #000;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 30px;
}
.highlighted-card span {
    color: var(--color-secondary);
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 1px;
}

/* ***************Top Header*****************/
.top-header {
    /* width:100%; */
    height: 300px;
    max-height: 300px;
    /* margin-bottom: 50px; */
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#home-highlighted-box,
#aboutus-highlighted-box {
    border-top: 1px dashed var(--color-title);
    border-bottom: 1px dashed var(--color-title);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#aboutus-highlighted-box .highlighted-card {
    border-radius: 20px;
    box-shadow: 0 10px 11px 0 rgb(200 200 200 / 150%);
    border-left: 3px solid var(--color-secondary);
    padding: 10px 20px;
    border-top: 1px solid var(--color-secondary);
    font-family: var(--font-family-sourcesans);
    color: #000;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 25px; */
    /* padding-bottom: 15px; */
    /* border-top:1px  dashed var(--color-title); */
    /* border-bottom:1px  dashed var(--color-title); */
    /* text-align: center; */
    /* vertical-align: middle; */
    /* text-transform: capitalize; */
}
#aboutus-highlighted-box .highlighted-card span {
    color: var(--color-secondary);
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 1px;
}


/* **************Home Service Section****************** */

#home_service .service-container .service-content-box .icon-box{
    background: white;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    /* margin: -17% auto 0 8%; */
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -36px;
    left: 20px;
    z-index:0;
}
#home_service .service-container .service-content-box .icon-box svg{
    width: 60px;
    height: 40px;
    position: relative;
    top: -11px;
    transition: all 0.9s ease-in-out;
}
#home_service .service-container .service-content-box .content{
    text-align: center;
    padding-bottom: 5px;
    
}
#home_service .service-container .service-content-box .content a{
    /* height: 0px;
    width:0px; */
color:#000;
border: 0;
padding:0;
border-radius: 20px;
    /* display: none; */
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
    transition: height 1s ,background-color 1s;
     height: 0;
    
    /* transition: background-color 0.5s ease-in-out; */
}  
#home_service .service-container .service-content-box .content a span {
    padding-left:5px;
 }
#home_service .service-container .service-content-box .content a span svg{
   fill: var(--color-secondary);
   
}
#home_service .service-container .service-content-box .content h3{
   font-size: 18px;
   text-align: center;
   position: relative;
   z-index:99;
}

/* *************Hover Effect********** */
#home_service .service-container:hover .service-content-box{
border-bottom:2px solid var(--color-secondary);
height:auto;
}
#home_service .service-container:hover .service-content-box .icon-box svg{
   transform: rotate(360deg);
   /* transform: scaleX(200%); */
    }
#home_service .service-container:hover .service-content-box .content a{
    /* display: inline-block; */
    opacity: 1;
    /* transition: opacity 1s, display .5s; */
    height:auto;
    padding: 5px 10px;
    border:1px solid var(--color-lightgray);

    /* transition: height 1s, opacity .5s; */
    /* display: block;
    height: 40px; */
}
#home_service .service-container .service-content-box .content a:hover{
    
color:white;
border: 1px solid var(--color-secondary);
background-color: var(--color-secondary);
}


#home_service .service-container .service-content-box .content a:hover span svg{
    fill: white;
 }
/* **************End Home Service Section****************** */


/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1708162746 svg {
        width: calc(266% + 1.3px);
        height: 107px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1708162651 svg {
        width: calc(266% + 1.3px);
        height: 107px;
    }
}
/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1708162299 svg {
        width: calc(266% + 1.3px);
        height: 107px;
    }
}
/* ************************End Home Why Choose Us************************** */

/* *************************************About Us Page************************* */
#aboutus-aboutus .section-column.image-section .image img {
    box-shadow: -7px 1px 14px 2px rgb(127 127 127 / 38%);
}
#aboutus-aboutus .section-column.rightSection {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 20px -6px 20px 0px rgb(127 127 127 / 9%);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
#aboutus-whychooseus .section-column.sectioninfo {
    background-color: #fff;
    border-radius: 20px;
    /* border-top-right-radius: 20px; */
    box-shadow: -10px 2px 0px 3px rgb(127 127 127 / 9%);
    /* padding-top:50px;
    padding-bottom:50px;
    padding-right: 50px; */
    padding: 50px;
}
#aboutus-whychooseus .section-column.image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
}
#aboutus-whychooseus .section-column.image-section .imagebox-rounded {
    position: absolute;
    /* --imgbox-dim: 380px;
    width: var(--imgbox-dim);
    height: var(--imgbox-dim); */
    left: -10%;
    /* border-radius: 50%; */
}
#aboutus-whychooseus .section-column.image-section .imagebox-rounded img {
    /* position: absolute; */
    display: block;
    --imgbox-dim: 380px;
    width: var(--imgbox-dim);
    height: var(--imgbox-dim);
    /* left:-10%; */
    border-radius: 50%;
    box-shadow: -7px 1px 14px 2px rgb(127 127 127 / 38%);
}

/* *************************************End About Us Page ************************* */

/* ******************************** single-service*********************************** */

/* //////////////Right Side Bar- ////////////////////// */
/* //////////////Right Side Bar- Title Header////////////////////// */

.single-service .rightsidebar .sidebar-title-container {
    padding-bottom: 10px;
    padding-top: 30px;
}

.single-service .rightsidebar .sidebar-title-container .sidebar-title {
   
    font-size: 20px;
    font-weight: 600;
    color: #000;
    /* font-size: 20px; */
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    /* z-index: 2; */
    /* padding-bottom: 23px; */
    /* margin-bottom: 0; */

}
.single-service .rightsidebar .sidebar-underline .line {
    background-color: #fa360a;
    border: 1px solid #fa360a;
    height: 4px;
    border-radius: 10px;
    margin-right: 5px;
    border: none;
    display: inline-block;
}

/* //////////////End Right Side Bar- Title Header////////////////////// */

/* //////////////Right Side Bar- Service List////////////////////// */
.single-service .rightsidebar .serviceListBox .serviceList, .single-service .rightsidebar .brochureListBox .brochureList {
    position: relative;
    padding: 0px;
}
.single-service .rightsidebar .serviceListBox .serviceList li,.single-service .rightsidebar .brochureListBox .brochureList li {
    border: 1px solid grey;
    border-left: 1px solid var(--color-primary);
    /* padding:8px; */
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
    z-index: 100;
}

.single-service .rightsidebar .serviceListBox .serviceList li a:after {
    content: "\f105"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    /* display: inline-block; */
    /* margin-left: calc(var(--icon-space) * -1); */
    /* width: var(--icon-space);
    color: var(--maincolor); */
    /* margin-right: 1.5rem; */
    color: var(--color-secondary);
    font-size: 1.1rem;
    position: absolute;
    right: 10px;
    z-index: 200;
}
.single-service .rightsidebar .serviceListBox .serviceList li a,.single-service .rightsidebar .brochureListBox .brochureList li a {
    display: block;
    /* border:1px solid black; */
    padding: 8px 12px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 200;
}
.single-service .rightsidebar .serviceListBox .serviceList li a:hover,.single-service .rightsidebar .brochureListBox .brochureList li a:hover {
    color: #fff;
    /* background-color: var(--color-secondary); */
}
.single-service .rightsidebar .serviceListBox .serviceList li a:hover:after,.single-service .rightsidebar .brochureListBox .brochureList li a:hover:after {
    color: #fff;
    /* background-color: var(--color-secondary); */
}

.single-service .rightsidebar .serviceListBox .serviceList li:before,.single-service .rightsidebar .brochureListBox .brochureList li:before {
    content: "";
    background-color: var(--color-primary);
    width: 0%;
    height: calc(100% + 2px);
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    border: 1px solid var(--color-primary);
    border-left: 3px solid var(--color-primary);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}
.single-service .rightsidebar .serviceListBox .serviceList li:hover:before,.single-service .rightsidebar .brochureListBox .brochureList li:hover:before {
    content: "";
    background-color: var(--color-primary);
    width: 102%;
}
/* //////////////End Right Side Bar- Service List////////////////////// */

/* //////////////Right Side Bar- Contact List////////////////////// */
.single-service .rightsidebar .contactListBox .sidebar-contact-container{
    text-align: left;
    }
    .single-service .rightsidebar .contactListBox .sidebar-contact-container .contact-list-item{
    /* padding-bottom: 35px!important;
    border: 1px solid red; */
    /* margin-bottom: 35px!important; */
    }
    .single-service .rightsidebar .contactListBox .sidebar-contact-container .contact-list-item .contact-icon{
      vertical-align: top;
      text-align: center;
      padding-right: 20px;
    }
    .single-service .rightsidebar .contactListBox .sidebar-contact-container .contact-list-item .contact-text{
      
      /* color: #6c757d; */
      padding-bottom: 15px!important;
      font-size: 17px;
    color: #444!important;
    font-weight: 500!important;
    text-align: justify;
    line-height: 24px;
    }
   
    .single-service .rightsidebar .contactListBox .call-us-container{
        
       margin-top: 20px;
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/callusbg.jpg');
        background-position: contain;
        position: relative;
        width:100%;
    }
    .single-service .rightsidebar .contactListBox .call-us-container .content{
        padding:15px 10px;
        font-family: var(--font-family-sourcesans);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color:#fff;
    }
    .single-service .rightsidebar .contactListBox .call-us-container .content .textbox{
        font-size: 22px;
        line-height: 36px;
        font-weight: 700;
       
        padding: 10px;
    }
    .single-service .rightsidebar .contactListBox .call-us-container .content .contactNoBox{
       margin-top: 20px;
        border: 2px dashed #cac8c8;
       padding: 10px;
       display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 90%;
    }
    .single-service .rightsidebar .contactListBox .call-us-container .content .contactNoBox .contactIcon {
        position: absolute;
        top: -22px;
        height: 42px;
        width: 42px;
        line-height: 1;
        background-color: var(--color-secondary);
        border-radius: 50%;
        border: none;
        font-weight: 900;
        /* transform: translateY(-50%); */
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .single-service .rightsidebar .contactListBox .call-us-container .content .contactNoBox .contactIcon i{
      
     
        
    }
    .single-service .rightsidebar .contactListBox .call-us-container .content .contactNoBox .contactNo{
        font-size: 20px;
        line-height: 28px;
        /* padding-top: 20px;
        padding-bottom: 10px; */
        padding:10px 20px;
    }
/* //////////////Right Side Bar- Contact List////////////////////// */

/* //////////////End Right Side Bar- ////////////////////// */
/* *****************************************End  single-service********************************* */
/*****************Home Team Section*********************/

/* **********************Background********************** */
@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--color-primary);
    overflow: hidden;
}
.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #1f484f;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 11s ease-in forwards infinite;
}

.background li:nth-child(0) {
    animation-delay: 0s;
    left: 41vw;
    top: 47vh;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 30vw;
    top: 17vh;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 27vw;
    top: 98vh;
    border-color: #2c8f9f;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 42vw;
    top: 72vh;
    border-color: #2c8f9f;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 10vw;
    top: 84vh;
    border-color: #2c8f9f;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 3vw;
    top: 59vh;
}

.background li:nth-child(6) {
    animation-delay: 12s;
    left: 90vw;
    top: 77vh;
}

.background li:nth-child(7) {
    animation-delay: 14s;
    left: 99vw;
    top: 79vh;
}

.background li:nth-child(8) {
    animation-delay: 16s;
    left: 95vw;
    top: 88vh;
}

.background li:nth-child(9) {
    animation-delay: 18s;
    left: 70vw;
    top: 64vh;
    border-color: #2c8f9f;
}

.background li:nth-child(10) {
    animation-delay: 20s;
    left: 82vw;
    top: 24vh;
    border-color: #2c8f9f;
}

.background li:nth-child(11) {
    animation-delay: 22s;
    left: 75vw;
    top: 72vh;
    border-color: #2c8f9f;
}

.background li:nth-child(12) {
    animation-delay: 24s;
    left: 26vw;
    top: 0vh;
    border-color: #2c8f9f;
}

.background li:nth-child(13) {
    animation-delay: 26s;
    left: 56vw;
    top: 25vh;
}

.background li:nth-child(14) {
    animation-delay: 28s;
    left: 13vw;
    top: 86vh;
}

.background li:nth-child(15) {
    animation-delay: 30s;
    left: 17vw;
    top: 94vh;
    border-color: #2c8f9f;
}

.background li:nth-child(16) {
    animation-delay: 32s;
    left: 49vw;
    top: 4vh;
}

.background li:nth-child(17) {
    animation-delay: 34s;
    left: 47vw;
    top: 35vh;
}

.background li:nth-child(18) {
    animation-delay: 36s;
    left: 73vw;
    top: 42vh;
    border-color: #2c8f9f;
}

.background li:nth-child(19) {
    animation-delay: 38s;
    left: 52vw;
    top: 67vh;
}

.background li:nth-child(20) {
    animation-delay: 40s;
    left: 69vw;
    top: 67vh;
}

.background li:nth-child(21) {
    animation-delay: 42s;
    left: 1vw;
    top: 55vh;
    border-color: #2c8f9f;
}

.background li:nth-child(22) {
    animation-delay: 44s;
    left: 79vw;
    top: 54vh;
    border-color: #2c8f9f;
}

.background li:nth-child(23) {
    animation-delay: 46s;
    left: 7vw;
    top: 21vh;
}

.background li:nth-child(24) {
    animation-delay: 48s;
    left: 85vw;
    top: 60vh;
}

.background li:nth-child(25) {
    animation-delay: 50s;
    left: 21vw;
    top: 9vh;
    border-color: #2c8f9f;
}

.background li:nth-child(26) {
    animation-delay: 52s;
    left: 23vw;
    top: 82vh;
    border-color: #2c8f9f;
}

.background li:nth-child(27) {
    animation-delay: 54s;
    left: 62vw;
    top: 14vh;
}

.background li:nth-child(28) {
    animation-delay: 56s;
    left: 52vw;
    top: 33vh;
    border-color: #2c8f9f;
}

.background li:nth-child(29) {
    animation-delay: 58s;
    left: 18vw;
    top: 38vh;
}

.background li:nth-child(30) {
    animation-delay: 60s;
    left: 65vw;
    top: 90vh;
}

.background li:nth-child(31) {
    animation-delay: 62s;
    left: 87vw;
    top: 50vh;
}

.background li:nth-child(32) {
    animation-delay: 64s;
    left: 57vw;
    top: 96vh;
    border-color: #2c8f9f;
}

.background li:nth-child(33) {
    animation-delay: 66s;
    left: 39vw;
    top: 18vh;
    border-color: #2c8f9f;
}

.background li:nth-child(34) {
    animation-delay: 68s;
    left: 83vw;
    top: 27vh;
    border-color: #2c8f9f;
}

.background li:nth-child(35) {
    animation-delay: 70s;
    left: 64vw;
    top: 46vh;
}

.background li:nth-child(36) {
    animation-delay: 72s;
    left: 34vw;
    top: 42vh;
}

.background li:nth-child(37) {
    animation-delay: 74s;
    left: 93vw;
    top: 30vh;
}

.background li:nth-child(38) {
    animation-delay: 76s;
    left: 5vw;
    top: 11vh;
    border-color: #2c8f9f;
}

.background li:nth-child(39) {
    animation-delay: 78s;
    left: 35vw;
    top: 7vh;
    border-color: #2c8f9f;
}

#home-team .team-list{
    z-index:100;
    position: relative;
}
/* *********************************End Background********************** */
#home-team{
    background-color: var(--color-background-grey);
}






/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) { 
    .section-column.image-section {
       margin-top: 20px;
    }
    .section-column .content{
        padding-top: 20px;
    }
 }
/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    .section-column.image-section .image {
       
        height: 90%;
        max-height: 40vh;
        
    }
 }
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .mainSection {
        margin: 0px 40px 30px 40px;
    }
    .section-column.image-section .image {
        width: 80%;
       
        border-radius:30px;
       
    }
    #home-aboutus .rightSection {
        padding-top: 0rem;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media ((min-width: 768px) and (max-width:815px)) { 
    .nav-link {
       
        margin-left: 23px;
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
}
@media ((max-width: 767px)) { 
    header #navHeader .navbar {
        padding: 5px 0px;
    }

    header #navHeader .navbar .navbar-container{
        padding: 0px;
    }
    header #navHeader .navbar .navbar-container .navbar-toggler{
        margin-right: 15px;
    }
    header #navHeader .navbar .nav-item {
        text-align: center;
    }
    header #navHeader .navbar .nav-item #mega-dropdown-menu {
       
        width: 100%;
       
        margin-top: -2px;
    }

    header #navHeader .navbar .nav-item #mega-dropdown-menu figure img {
        width: 100%;
        height: 75px;
    }
    header #navHeader .navbar .nav-item .buttonStyleSecondary{
        margin: 5px 20px;

    }
   
   

}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    header #navHeader .navbar .nav-item #mega-dropdown-menu figure{
       /* display: flex; */
       /* flex-direction: column; */
    }
    header #navHeader .navbar .nav-item #mega-dropdown-menu figure img{
        /* flex-basis: 30%;
        width: 20%;
        height: 30px; */
        
     }
     header #navHeader .navbar .nav-item #mega-dropdown-menu figure img.img-thumbnail {
        padding: 0;
        /* background-color: var(--bs-body-bg); */
        border: 0;
        /* border-radius: var(--bs-border-radius);
        max-width: 100%;
        height: auto; */
    }
    header #navHeader .navbar .nav-item #mega-dropdown-menu .mega-menu-item-container{
        padding: 7px;
    }

    /* **************Home Carousel***************** */
    #homeCarousel .carousel-inner .carousel-item .carousel-caption{
       
        text-align: center;
        padding-top: 60px;
        padding-left:30px;
        /* border:2px solid blue; */
      }

      #homeCarousel .carousel-inner .carousel-item .carousel-caption .carousel-heading {
        /* color: #fff; */
        font-size: 48px;
        line-height: 48px;
        font-weight: 700;
        margin-bottom: 40px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    /* **************End Home Carousel***************** */
    /* **************Home About Us************** */
    .mainSection {
        margin: 0px 9px 30px 9px;
    }
    .section-column.image-section .image {
        width: 90%;
       
      
       
    }
    .section-column .listbox .list ul {
       padding-left: 0px;
       --icon-space: 0em;
    }
    /* **************End Home About Us************** */
   
}
/* **************for highlighted box */

/* display: inline-block;
width: 80%;
justify-content: center;
text-align: center;
margin: auto;
border-radius: 104px;
position: relative;
bottom: -44px;
z-index: 99;
font-size: 20px; */