.double-line {
    border-radius: 1.0rem;
    margin-bottom: .8rem;
  
}



/**============================================
 *             Tilted Opacity
 *=============================================**/


 /*--------------- END OF Tilted Opacity SECTION --------------*/
 
 
/* ***************Top Header*****************/


#serviceTopHeader{
    & .top-header{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    & #serviceName{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        color:var(--color-secondary);
        font-size: 6rem;
    }
    
}
.widget{
    margin: 3rem 1rem;
    
}
.widget header .sectionTitle {
    line-height: 2.2rem;
    font-weight: 500;
    color: var(--color-title);
    font-size: 2.0rem;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    /* margin-top: 1.0rem; */
    letter-spacing: .1rem;
}




/* ***************End Top Header*****************/

/* * //////////////Right Side Bar- Service List//////////////////////  */
#single-service .rightsidebar .serviceListBox .serviceList ,
#single-service .rightsidebar .supplyListBox .supplyList ,
#single-service .rightsidebar .brochureListBox .brochureList{
padding: 0;
margin: 0;
}
#single-service .rightsidebar .serviceListBox .serviceList li,
#single-service .rightsidebar .supplyListBox .supplyList li,
#single-service .rightsidebar .brochureListBox .brochureList li {
    border: .1rem solid grey;
    border-left: .1rem solid var(--color-primary);
    margin-bottom: .3rem;
    border-radius: .5rem;
    position: relative;
   
    z-index: 100;
    &:hover:before{
        width: 102%;
    }
}
#single-service .rightsidebar .serviceListBox .serviceList li a,
#single-service .rightsidebar .supplyListBox .supplyList li a,
#single-service .rightsidebar .brochureListBox .brochureList li a {
    display: block;
    padding: .4rem 1.2rem;
    /* font-size: 1.6rem; */
    font-weight: 600;
    color: #444;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 200;
     &:hover {
       color:white;
         &:hover:after {
            color: #fff;
        }
    }
  }
#single-service .rightsidebar .serviceListBox .serviceList li a:after,#single-service .rightsidebar .supplyListBox .supplyList li a:after {
    content: "\f105"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    color: var(--color-secondary);
    font-size: 1.1rem;
    position: absolute;
    right: 1.0rem;
    z-index: 200;
}

#single-service .rightsidebar .serviceListBox .serviceList li:before,#single-service .rightsidebar .supplyListBox .supplyList li:before,
#single-service .rightsidebar .brochureListBox .brochureList li:before {
    content: "";
    position: absolute;
    top: -.1rem;
    left: -.1rem;
    bottom: -.1rem;
    background-color: var(--color-primary);
    width: 2%;
    height: calc(100% + .2rem);
    border-radius: .5rem;
    transition: all 0.5s ease-in-out;
}

/* * //////////////End Right Side Bar- Service List//////////////////////  */

/* //////////////Right Side Bar- Contact List////////////////////// */

#single-service .rightsidebar{
    background-color:#f5f5f530;
   
}
#single-service .rightsidebar .contactListBox .sidebar-contact-container .contact-list-item .contact-icon{
    vertical-align: top;
    text-align: center;
    padding-right: 2.0rem;
  }
  #single-service .rightsidebar .contactListBox .sidebar-contact-container .contact-list-item .contact-text{
      
    /* color: #6c757d; */
    padding-bottom: 1.5rem!important;
    font-size: 1.7rem;
  color: #444!important;
  font-weight: 500!important;
  text-align: justify;
  line-height: 2.4rem;
  }

  #single-service .rightsidebar .contactListBox .call-us-container{
        
    margin-top: 2.0rem;
     background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/callusbg.jpg');
     background-position: contain;
      position: relative;
    background-size:100% 100%;
 }
 #single-service .rightsidebar .contactListBox .call-us-container .content{
    padding:1.5rem 1.0rem;
    /* font-family: var(--font-family-sourcesans); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#fff;
}
#single-service .rightsidebar .contactListBox .call-us-container .content .textbox{
    font-size: 2.2rem;
    line-height: 3.6rem;
    font-weight: 700;
   
    padding: 1.0rem;
}
#single-service .rightsidebar .contactListBox .call-us-container .content .contactNoBox{
    display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
    margin-top: 2.5rem;
     border: .2rem dashed #cac8c8;
    padding: .0rem .0rem;
    
     position: relative;
     width: 90%;
 }
 #single-service .rightsidebar .contactListBox .call-us-container .content .contactNoBox .contactIcon {
     
    position: absolute;
    /* top: -2.2rem; */
    top:0;
    left:50%;
    transform: translate(-50%,-50%);
    height: 4.2rem; 
    width: 4.2rem;
    background-color: var(--color-secondary);
    border-radius: 50%;
    display: flex;
     align-items: center;
     justify-content: center; 
     border:.1rem solid red;    
     line-height: 1;    
     border: none;
     font-weight: 900;
     /* transform: translateY(-50%); */
     /* */ 

 }

 #single-service .rightsidebar .contactListBox .call-us-container .content .contactNoBox .contactNo{
    /* font-size: 2.0rem; */
    /* line-height: 2.8rem; */
    /* padding-top: 2.0rem;
    padding-bottom: 1.0rem; */
    padding:2.5rem 2.0rem 1.0rem 2.0rem;
}




/* //////////////End Right Side Bar- Contact List////////////////////// */


/* * //////////////Main Content//////////////////////  */
#single-service article{
    padding-bottom:2rem;   
    
}
#single-service .article-section{
    padding: 0 2.5rem;

}
#single-service .figure-section{
    padding:var(--header-top-padding) 2.3rem 0 2.5rem;
    display: flex;
            justify-content: center;
            align-items: center;
    & .image-box{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        aspect-ratio: 1;
        /* max-width: 25rem; */
        border-radius: 10px;
        & img{
            width:100%;
            height:auto;
            object-fit: contain;
        }
    }
}